<% provide(:title, 'Edit user') %>
<% provide(:button_text, 'Save changes') %>


<h1>Update your Profile</h1>

<%= render 'form', user: @user %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
